<!DOCTYPE html>
<html> 
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>TagCloud</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="/static/style.css">

</head>
<body>
    
  <div class="container-fluid">
    <div class="row">
      <div class="col-6">
          <div class="mt-1 col-8">
            <h3 class="mt-4 mb-3">Procurar Tag Cloud 1</h3> 
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Digite uma nome ou palavra" aria-label="Search for...">
              <span class="input-group-btn">
                <button class="btn btn-light ml-2" type="button">Abrir Tag Cloud</button>
              </span>
            </div>
          </div>
          <div class="container-fluid">
            <div class="row">
              <div class="col-12">
                <h3 class="mt-4">Gerar Tag Cloud 1</h3> 
                  <form id="uploadForm" method="post" enctype="multipart/form-data">
                    Selecione um arquivo XML: 
                    <input id="file" type="file" name="file">
                    <label for="file" class="ml-1 btn btn-primary" style="cursor: pointer;">Selecionar XML</label>
                    <button class="btn btn-danger ml-1" style="height: 38px; margin-bottom: 8px; cursor: pointer;">Submit</button>
                  </form>
              </div>
          </div>
        </div>
      </div>

      <div class="col-6">
        <div class="mt-1 col-8">
            <h3 class="mt-4 mb-3">Procurar Tag Cloud 2</h3> 
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Digite uma nome ou palavra" aria-label="Search for...">
              <span class="input-group-btn">
                <button class="btn btn-light ml-2" type="button">Abrir Tag Cloud</button>
              </span>
            </div>
          </div>
          <div class="container-fluid">
            <div class="row">
              <div class="col-12">
                <h3 class="mt-4">Gerar Tag Cloud 2</h3> 
                  <form id="uploadForm-2" method="post" enctype="multipart/form-data">
                    Selecione um arquivo XML: 
                    <input type="file" name="file" id="file2">
                    <label for="file2" class="ml-1 btn btn-primary" style="cursor: pointer;">Selecionar XML</label>
                    <button class="btn btn-danger ml-1" style="height: 38px; margin-bottom: 8px; cursor: pointer;">Submit</button>
                  </form>
              </div>
          </div>
        </div>
      </div>
    </div>  
  </div>   

  <div class="container-fluid">
    <div class="row">
      <div class="col-6">
        <div id="word-cloud"></div>
      </div>
      <div class="col-6">
        <div id="word-cloud-2"></div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-6">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12 bg-light py-4"> 
                <div class="row ml-3 mb-4">
                  <div class="col-4">
                    <div class="row">
                    <div class="custom-control custom-radio  mt-2">
                      <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                      <label class="custom-control-label mr-3" for="customRadio1">Nome</label>
                    </div>
                    <div class="custom-control custom-radio  mt-2">
                      <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
                      <label class="custom-control-label mr-3" for="customRadio2">Disciplina</label>
                    </div>
                    <button class="btn btn-primary ml-2 mt-1"><i class="fa fa-cogs" aria-hidden="true"></i></button>
                    <button class="btn btn-primary mt-3" id="reset1">Resetar Tag Cloud 1</button>
                  </div>
                  </div>
                <div class="mt-1 col-8">
                  <div class="input-group">
                    <input type="number" class="form-control" id="form-control" placeholder="Digite um limite de quantidade de palavras" aria-label="Search for...">
                    <span class="input-group-btn">
                      <button class="btn btn-primary ml-2" type="button" id="filtrar1">Filtrar</button>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="col-6">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12 bg-light py-4"> 
                <div class="row ml-3 mb-4">
                  <div class="col-4">
                    <div class="row">
                    <div class="custom-control custom-radio  mt-2">
                      <input type="radio" id="customRadio3" name="customRadio" class="custom-control-input">
                      <label class="custom-control-label mr-3" for="customRadio3">Nome</label>
                    </div>
                    <div class="custom-control custom-radio  mt-2">
                      <input type="radio" id="customRadio4" name="customRadio" class="custom-control-input">
                      <label class="custom-control-label mr-3" for="customRadio4">Disciplina</label>
                    </div>
                    <button class="btn btn-primary ml-2 mt-1"><i class="fa fa-cogs" aria-hidden="true"></i></button>
                    <button class="btn btn-primary mt-3">Resetar Tag Cloud 2</button>
                  </div>
                  </div>
                <div class="mt-1 col-8">
                  <div class="input-group">
                    <input type="number" class="form-control" id="form-control-2" placeholder="Digite um limite de quantidade de palavras" aria-label="Search for...">
                    <span class="input-group-btn">
                      <button class="btn btn-primary ml-2" type="button" id="filtrar2">Filtrar</button>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
        
  <div class="container">
    <div class="row text-center">
      <div class="col">
        <button class="mt-4 mb-2 btn btn-primary col-6" id="compare">Comparar Nuvens</button>
        <div id="resultado"></div>
      </div>
    </div>
  </div>

    
    <script type="text/javascript" src="/static/jquery-3.2.1.min.js"></script>

    <script type="text/javascript" src="/static/lib/d3/d3.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/lib/d3/d3.layout.cloud.js"></script>
    <script type="text/javascript" src="/static/d3.wordcloud.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/static/bootstrap.js"></script>

    <script>

      var tagcloud_data_1 = [];
      var tagcloud_data_2 = [];


      var renderx = function(x, divplot){
        $('#'+divplot).html('');
        d3.wordcloud()
        .size([800, 750])
        .selector('#'+divplot)
        .font("Impact")
        .words(x)

        .start();
      }

      $("form#uploadForm").submit(function(e){

        e.preventDefault();

        let formData = new FormData($(this)[0]);

          $.ajax({
              url: '/upload',
              type: 'POST',
              data: formData,
              async: true,
              dataType: 'JSON',
              success: function (data_d){
              tagcloud_data_1 = data_d;
            
              renderx(data_d, 'word-cloud');
              

            },
              cache: false,
              contentType: false,
              processData: false
        });
        return false;

      });

      $("form#uploadForm-2").submit(function(e){

        e.preventDefault();

        let formData = new FormData($(this)[0]);

          $.ajax({
              url: '/upload',
              type: 'POST',
              data: formData,
              async: true,
              success: function (data_d){
              tagcloud_data_2 = data_d;
              renderx(data_d, 'word-cloud-2');

            },
              cache: false,
              contentType: false,
              processData: false
        });
        return false;
      });



      $('#filtrar1').click(function(){

        var value = parseInt($('#form-control').val());  
        tagcloud_data_1.sort(function(a, b){return b.size-a.size});   

        let temp = [];
         for(var i=0; i<value; i++){

          temp[i] = tagcloud_data_1[i];

        }

        renderx(temp, 'word-cloud');
      });


      $('#filtrar2').click(function(){

        var value = parseInt($('#form-control-2').val());  
        tagcloud_data_2.sort(function(a, b){return b.size-a.size});   

        let temp = [];
         for(var i=0; i<value; i++){

          temp[i] = tagcloud_data_2[i];

        }
        
        renderx(temp, 'word-cloud-2');
      });

      $('#compare').click(function(){
        let z = [];

        let value1s = {};

        tagcloud_data_1.forEach(function(item) {
          value1s[item.text] = item.size;
        });
        tagcloud_data_2.forEach(function(item) {
          if (item.text in value1s) {
            if(value1s[item.text].size > item.size){
              z.push({'text': item.text, 'size': value1s[item.text].size});
            }else{
              z.push({'text': item.text, 'size': item.size});
            }
          }
        });

        console.log(z);
        renderx(z, 'resultado');
      });
    
    </script>
</body>
</html>


        